node_modules
npm-debug.log
.git
.gitignore
.vscode
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs
*.log
